apiVersion: v1
kind: Secret
metadata:
  name: apps-home
  namespace: default
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: git@github.com:joosthb/apps-home
  sshPrivateKey: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    ...
    -----END OPENSSH PRIVATE KEY-----
---
apiVersion: v1
kind: Secret
metadata:
  name: app-of-apps-home
  namespace: default
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: git@github.com:joosthb/app-of-apps-home
  sshPrivateKey: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    ...
    -----END OPENSSH PRIVATE KEY-----
